<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <div>
                    <img src="{{productData.imageUrl}}" class="img-responsive" width="200px">

                    <h3>{{productData.name}}</h3>
                    <div class="price">{{productData.unitPrice | currency: "USD"}}</div>
                    <button (click)="addToCart()" class="btn btn-primary">Add to cart</button>
                    <hr>

                    <h4>Product Description</h4>
                    <p>{{productData.description}}</p>

                    <a routerLink="/products">Back to Product List</a>
                </div>
            </div>
        </div>
    </div>
</div>