<div class="form-header login-status-header">
    @if(isAuthenticated && userName) {        
        <div class="login-status-user-info">
            Welcome back <b>{{userName}}!</b>
        </div>
    }
    @if(!isAuthenticated) {
        <button routerLink="/login" class="security-btn">Login</button>
    }
    @else {        
        <button (click)="logout()" class="security-btn">Logout</button>
    }
    @if(isAuthenticated) {
        <button routerLink="/members" class="security-btn">Members</button>
        <button routerLink="/orders" class="security-btn">Orders</button>
    }
</div>