<div class="main-content">
    <div class="section-content section-content-p30">

        <h4>Category: {{currentCategoryName}}</h4>
        <hr>
        <div class="container-fluid">
            <div class="row">
                @for(tempProduct of products; track tempProduct.id) {
                    <div class="col-md-3">
                        <div class="product-box">
                            <a routerLink="/products/{{tempProduct.id}}">
                                <img src="{{ tempProduct.imageUrl }}" class="img-responsive">
                            </a>
                            <a routerLink="/products/{{tempProduct.id}}">
                                <h1>{{ tempProduct.name }}</h1>
                            </a>
                            <!-- <h2> {{ tempProduct.description }} </h2> -->
                            <div class="price">{{tempProduct.unitPrice | currency: "USD"}}</div>
                            <button class="btn btn-primary btn-sm" (click)="addToCart(tempProduct)">Add to cart</button>
                        </div>
                    </div>
                }
                @if(products.length == 0) {
                    <div class="alert alert-warning">
                        No products found!
                    </div>
                }
            </div>
            <div class="container mpagination">
                <div class="row">
                    <div class="col-8"></div>
                    <div class="col-3 pagination-box">
                        <div class="footer-pagination">
                            <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize"
                                [collectionSize]="theTotalElements" (pageChange)="listProducts()"
                                [maxSize]="pageMaxSize">
                            </ngb-pagination>
                        </div>
                    </div>
                    <div class="col-1">
                        <select #pageSize class="form-select" class="pagination-select" (change)="updatePageSize(pageSize.value)">
                            <option value="5">5</option>
                            <option selected="true" value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>