<div class="main-content page-m">
    <div class="section-content section-content-p30 e-spc">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="label">
                                <label>First Name</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text" placeholder="First Name">
                            </div>
                        </div>
                    </div>
                    @if(firstName.invalid && (firstName.dirty || firstName.touched)) {
                        <div class="row">
                            <div class="col-md-12">
                                @if(firstName.hasError('required') || firstName.hasError('onlyWhitespace')) {
                                    <div class="alert alert-danger">
                                        First Name is required.
                                    </div>
                                }
                                @if(firstName.hasError('minlength')) {
                                    <div class="alert alert-danger">
                                        First Name must be at least 2 characters long.
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-3">
                            <div class="label">
                                <label>Last Name</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                    @if(lastName.invalid && (lastName.dirty || lastName.touched)) {
                        <div class="row">
                            <div class="col-md-12">
                                @if(lastName.hasError('required') || lastName.hasError('onlyWhitespace')) {
                                    <div class="alert alert-danger">
                                        Last Name is required.
                                    </div>
                                }
                                @if(lastName.hasError('minlength')) {
                                    <div class="alert alert-danger">
                                        Last Name must be at least 2 characters long.
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-3">
                            <div class="label">
                                <label>Email address</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text" placeholder="Email Address">
                            </div>
                        </div>
                    </div>
                    @if(email.invalid && (email.dirty || email.touched)) {
                        <div class="row">
                            <div class="col-md-12">
                                @if(email.hasError('required')) {
                                    <div class="alert alert-danger">
                                        Email is required.
                                    </div>
                                }
                                @if(email.hasError('pattern')) {
                                    <div class="alert alert-danger">
                                        Enter a valid email.
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>

                <!--Form 2-->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="row">   
                        <div class="col-md-3">
                            <div class="label">
                                <label>Country</label>
                            </div>
                        </div>                                             
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="reloadStates('shippingAddress')">
                                    @for(country of countries; track country.code) {
                                        <option [value]="country.code">{{country.description}}</option>
                                    }
                                </select>
                            </div>
                        </div>   
                    </div>
                    @if(shippingCountry.invalid && (shippingCountry.dirty || shippingCountry.touched)) {
                        <div class="row">
                            <div class="col-md-12">
                                @if(shippingCountry.hasError('required')) {
                                    <div class="alert alert-danger">
                                        Country is required.
                                    </div>
                                }
                            </div>
                        </div>
                    }                     
                    <div class="row">                                                
                        <div class="col-md-3">
                            <div class="label">
                                <label>Street</label>
                            </div>
                        </div>      
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text" placeholder="Street">
                            </div>
                        </div>
                    </div>
                    @if(shippingStreet.invalid && (shippingStreet.dirty || shippingStreet.touched)) {
                        <div class="row">
                            <div class="col-md-12">
                                @if(shippingStreet.hasError('required') || shippingStreet.hasError('onlyWhitespace')) {
                                    <div class="alert alert-danger">
                                        Street is required.
                                    </div>
                                }
                                @if(shippingStreet.hasError('minlength')) {
                                    <div class="alert alert-danger">
                                        Street must be at least 2 characters long.
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    <div class="row">                                                
                        <div class="col-md-3">     
                            <div class="label">
                                <label>City</label>
                            </div>  
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text" placeholder="City">
                            </div>
                        </div>
                    </div>
                    @if(shippingCity.invalid && (shippingCity.dirty || shippingCity.touched)) {
                        <div class="row">
                            <div class="col-md-12">
                                @if(shippingCity.hasError('required') || shippingCity.hasError('onlyWhitespace')) {
                                    <div class="alert alert-danger">
                                        City is required.
                                    </div>
                                }
                                @if(shippingCity.hasError('minlength')) {
                                    <div class="alert alert-danger">
                                        City must be at least 2 characters long.
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    <div class="row">                                             
                        <div class="col-md-3">
                            <div class="label">
                                <label>State</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    @for(state of shippingStates; track state.id) {
                                        <option [value]="state.id">{{state.description}}</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    @if(shippingState.invalid && (shippingState.dirty || shippingState.touched)) {
                        <div class="row">
                            <div class="col-md-12">
                                @if(shippingState.hasError('required')) {
                                    <div class="alert alert-danger">
                                        State is required.
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    <div class="row">                                               
                        <div class="col-md-3">
                            <div class="label">
                                <label>Zip/Postal Code</label>
                            </div>
                        </div>       
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="pin" type="text" placeholder="Zip Code / Postal Code">
                            </div>
                        </div>
                    </div> 
                    @if(shippingPin.invalid && (shippingPin.dirty || shippingPin.touched)) {
                        <div class="row">
                            <div class="col-md-12">
                                @if(shippingPin.hasError('required')) {
                                    <div class="alert alert-danger">
                                        Zip Code / Postal Code is required.
                                    </div>
                                }
                                @if(shippingPin.hasError('pattern')) {
                                    <div class="alert alert-danger">
                                        Enter a valid Zip Code / Postal Code.
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="onShippingAddressSameAsBillingChange($event)">
                        <span class="au-checkmark"></span> Billing Address same as Shipping Adress
                    </label>
                </div>

                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>
                    <div class="row">   
                        <div class="col-md-3">
                            <div class="label">
                                <label>Country</label>
                            </div>
                        </div>                                             
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="reloadStates('billingAddress')">
                                    @for(country of countries; track country.code) {
                                        <option [value]="country.code">{{country.description}}</option>
                                    }
                                </select>
                            </div>
                        </div>   
                    </div> 
                    @if(billingCountry.invalid && (billingCountry.dirty || billingCountry.touched)) {
                        <div class="row">
                            <div class="col-md-12">
                                @if(billingCountry.hasError('required')) {
                                    <div class="alert alert-danger">
                                        Country is required.
                                    </div>
                                }
                            </div>
                        </div>
                    }                              
                    <div class="row">                                                
                        <div class="col-md-3">
                            <div class="label">
                                <label>Street</label>
                            </div>
                        </div>      
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text" placeholder="Street">
                            </div>
                        </div>
                    </div>
                    @if(billingStreet.invalid && (billingStreet.dirty || billingStreet.touched)) {
                        <div class="row">
                            <div class="col-md-12">
                                @if(billingStreet.hasError('required') || billingStreet.hasError('onlyWhitespace')) {
                                    <div class="alert alert-danger">
                                        Street is required.
                                    </div>
                                }
                                @if(billingStreet.hasError('minlength')) {
                                    <div class="alert alert-danger">
                                        Street must be at least 2 characters long.
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    <div class="row">                                                
                        <div class="col-md-3">     
                            <div class="label">
                                <label>City</label>
                            </div>  
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text" placeholder="City">
                            </div>
                        </div>
                    </div>
                    @if(billingCity.invalid && (billingCity.dirty || billingCity.touched)) {
                        <div class="row">
                            <div class="col-md-12">
                                @if(billingCity.hasError('required') || billingCity.hasError('onlyWhitespace')) {
                                    <div class="alert alert-danger">
                                        City is required.
                                    </div>
                                }
                                @if(billingCity.hasError('minlength')) {
                                    <div class="alert alert-danger">
                                        City must be at least 2 characters long.
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    <div class="row">                                             
                        <div class="col-md-3">
                            <div class="label">
                                <label>State</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    @for(state of billingStates; track state.id) {
                                        <option [value]="state.id">{{state.description}}</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    @if(billingState.invalid && (billingState.dirty || billingState.touched)) {
                        <div class="row">
                            <div class="col-md-12">
                                @if(billingState.hasError('required')) {
                                    <div class="alert alert-danger">
                                        State is required.
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    <div class="row">                                               
                        <div class="col-md-3">
                            <div class="label">
                                <label>Zip/Postal Code</label>
                            </div>
                        </div>       
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="pin" type="text" placeholder="Zip Code / Postal Code">
                            </div>
                        </div>
                    </div> 
                    @if(billingPin.invalid && (billingPin.dirty || billingPin.touched)) {
                        <div class="row">
                            <div class="col-md-12">
                                @if(billingPin.hasError('required')) {
                                    <div class="alert alert-danger">
                                        Zip Code / Postal Code is required.
                                    </div>
                                }
                                @if(billingPin.hasError('pattern')) {
                                    <div class="alert alert-danger">
                                        Enter a valid Zip Code / Postal Code.
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>

                <div formGroupName="cardDetails" class="form-area">
                    <h3>Credit Card</h3>
                    <div id="card-element"></div> 
                    <div id="card-errors" class="displayError.textContent!=='': 'alert-danger mt-1'"></div>
                </div>

                <div class="form-area">
                    <h3>Review Your Order</h3>
                    <b>Total Quantity: {{totalQuantity}}</b>
                    <h4>Shipping: FREE</h4>
                    <b>Total Price: {{totalPrice | currency: "USD"}}</b>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" [disabled]="isDisabled">Purchase</button>
                </div>
            </form>
        </div>
    </div>
</div>